In [5]:
import pandas as pd

In [6]:
train_df = pd.read_csv("SOURCES/titanic_train.csv")

train_df.Sex.replace({"female": 0, "male": 1}, inplace=True)

test_df = pd.read_csv("SOURCES/titanic_test.csv")

test_df.Sex.replace({"female": 0, "male": 1}, inplace=True)

y = train_df.Survived
features = ["Pclass", "Sex", "SibSp", "Parch"]
x = pd.get_dummies(train_df[features])
x_test = pd.get_dummies(test_df[features])

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x, y)
predictions = model.predict(x_test)

results = pd.DataFrame({"PassengerId": test_df.PassengerId, "Survived": predictions})

In [7]:
results.to_csv("submission.csv", index=False)

In [13]:
results

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [9]:
df = pd.read_csv("submission.csv")
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [12]:
sum(df.Survived)

149