In [6]:
import pandas as pd

train_df = pd.read_csv("SOURCES/titanic_train.csv")
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
# P(A|B) * P(B) = P(B|A) * P(A)

# A: Survived = 1 probability
# B: Condition_1 probability
# P(A|B): Eğer Condition_1 olursa, Survived'ın 1 olma ihtimali nedir?
# P(B|A): Survived=1 olanların yüzde kaçı Condition_1 şartını sağlamaktadır?

# Condition_1 = [Pclass = 1]

survived_1_count = len(train_df[train_df.Survived == 1])
pclass_1_count = len(train_df[train_df.Pclass == 1])
# filtre = train_df[train_df.Survived == 1]
# pclass_1_survived_1_count = len(filtre[filtre.Pclass == 1])

In [32]:
P_A = survived_1_count / len(train_df)
P_B = pclass_1_count / len(train_df)
P_B_A = pclass_1_count / survived_1_count

In [33]:
P_A_B = (P_B_A * P_A) / P_B
P_A_B

0.9999999999999999

In [65]:
yolcu_sayısı = len(train_df)
print(f"Yolcu sayısı: {yolcu_sayısı}")

x = len(train_df[train_df.Survived == 1]) # hayatta kalan yolcu sayısı
print(f"Hayatta kalan yolcu sayısı: {x}")

y = len(train_df[train_df.Pclass == 1]) # 1.sınıf yolcu sayısı
print(f"Birinci sınıf yolcu sayısı: {y}")

grp = train_df.groupby("Pclass")
a = grp.sum()[["Survived"]]
print("\n", a)

z = a.loc[1, "Survived"]    # Hayatta kalan 1 sınıf yolcu sayısı
print(f"\nHayatta kalan 1 sınıf yolcu sayısı:{z}")

P_A = x / len(train_df)    # Hayatta kalma ihtimali
print(f"Bir yolcunun hayatta kalma ihtimali: {P_A}")

P_B = y / len(train_df)    # 1. sınıf olma ihtimali
print(f"Bir yolcunun 1. sınıf olma ihtimali: {P_B}")

aa = sum(a['Survived'])
P_B_A = z / aa    # hayatta kalanların yüzde kaçı 1. sınıftı?
print(f"Hayatta kalanların içerisindeki 1. sınıf yolcu yüzdesi: {P_B_A}")

P_A_B = (P_B_A * P_A) / P_B
P_A_B
print(f"\n1. Sınıf bir yolcunun hayatta kalma ihtimali: {P_B_A}")

Yolcu sayısı: 891
Hayatta kalan yolcu sayısı: 342
Birinci sınıf yolcu sayısı: 216

         Survived
Pclass
1            136
2             87
3            119

Hayatta kalan 1 sınıf yolcu sayısı:136
Bir yolcunun hayatta kalma ihtimali: 0.3838383838383838
Bir yolcunun 1. sınıf olma ihtimali: 0.24242424242424243
Hayatta kalanların içerisindeki 1. sınıf yolcu yüzdesi: 0.39766081871345027

1. Sınıf bir yolcunun hayatta kalma ihtimali: 0.39766081871345027