In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [13]:
df_titanic = pd.read_csv("SOURCES/titanic_train.csv")

df = df_titanic.copy()

df.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Sex", "Embarked"], axis=1, inplace=True)
df

survived_list = list(df.Survived)

my_list = []
for i in range(len(df)):
    my_list.append(list(df.loc[i]))

df_titanic_test = pd.read_csv("SOURCES/titanic_test.csv")
df2 = df_titanic_test.copy()
df2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Sex", "Embarked"], axis=1, inplace=True)

my_list2 = []
for i in range(len(df2)):
    my_list2.append(list(df.loc[i]))

# Veri setini hazırlayın
X = my_list
y = survived_list

# Naive Bayes sınıflandırıcısını oluşturun
model = GaussianNB()

# Sınıflandırıcıyı eğitin
model.fit(X, y)

# Yeni bir veri noktası için tahmin yapın
yeni_veri = my_list2
tahmin = model.predict(yeni_veri)

print(tahmin)
print(len(tahmin))

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1]
418

In [14]:
x = df_titanic_test[["PassengerId"]]
x.loc[:,"Survived"] = tahmin
x

C:\Users\monstr\AppData\Local\Temp\ipykernel_1492\3917380894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = tahmin

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [15]:
x.to_csv("submission2.csv", index=False)

In [16]:
sum(x.Survived)

163

In [3]:
df_titanic = pd.read_csv("SOURCES/titanic_train.csv")

df = df_titanic.copy()

df.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Sex", "Embarked", "Survived"], axis=1, inplace=True)
df

survived_list = list(df_titanic.Survived)

my_list = []
for i in range(len(df)):
    my_list.append(list(df.loc[i]))

df_titanic_test = pd.read_csv("SOURCES/titanic_test.csv")
df2 = df_titanic_test.copy()
df2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Sex", "Embarked"], axis=1, inplace=True)

my_list2 = []
for i in range(len(df2)):
    my_list2.append(list(df.loc[i]))

# Veri setini hazırlayın
X = my_list
y = survived_list

# Naive Bayes sınıflandırıcısını oluşturun
model = GaussianNB()

# Sınıflandırıcıyı eğitin
model.fit(X, y)

# Yeni bir veri noktası için tahmin yapın
yeni_veri = my_list2
tahmin = model.predict(yeni_veri)

print(tahmin)
print(len(tahmin))

[0 1 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 0 0 1 0 1 0
 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 0
 1 1 1 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0
 1 0 1 0 0 1 1 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1
 0 0 1 0 1 0 1 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1
 1 0 0 1 1 0 1 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 1
 0 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1
 0 1 0 1 1 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1
 1 0 0 1 0 1 0 1 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0
 1 0 0 0 0 1 1 0 0 1 1]
418

In [4]:
x = df_titanic_test[["PassengerId"]]
x.loc[:,"Survived"] = tahmin
x

C:\Users\monstr\AppData\Local\Temp\ipykernel_10224\3917380894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = tahmin

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         1
414         1306         0
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [5]:
sum(x.Survived)

161

In [6]:
x.to_csv("submission4.csv", index=False)