In [53]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [54]:
df_titanic = pd.read_csv("SOURCES/titanic_train.csv")

df = df_titanic.copy()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [55]:
df.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Embarked"], axis=1, inplace=True)
df

     Survived  Pclass     Sex  SibSp  Parch
0           0       3    male      1      0
1           1       1  female      1      0
2           1       3  female      0      0
3           1       1  female      1      0
4           0       3    male      0      0
..        ...     ...     ...    ...    ...
886         0       2    male      0      0
887         1       1  female      0      0
888         0       3  female      1      2
889         1       1    male      0      0
890         0       3    male      0      0

[891 rows x 5 columns]

In [56]:
df.Sex.replace({"male": 0, "female": 1}, inplace=True)
df.head()

   Survived  Pclass  Sex  SibSp  Parch
0         0       3    0      1      0
1         1       1    1      1      0
2         1       3    1      0      0
3         1       1    1      1      0
4         0       3    0      0      0

In [57]:
survived_list = list(df.Survived)

my_list = []
for i in range(len(df)):
    my_list.append(list(df.loc[i]))

In [58]:
df_titanic_test = pd.read_csv("SOURCES/titanic_test.csv")
df2 = df_titanic_test.copy()

df2.Sex.replace({"male": 0, "female": 1}, inplace=True)

df2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Age", "Fare", "Embarked"], axis=1, inplace=True)

my_list2 = []
for i in range(len(df2)):
    my_list2.append(list(df.loc[i]))

In [59]:
# Veri setini hazÄ±rlayÄ±n
X = my_list
y = survived_list

# Naive Bayes sÄ±nÄ±flandÄ±rÄ±cÄ±sÄ±nÄ± oluÅŸturun
model = GaussianNB()

# SÄ±nÄ±flandÄ±rÄ±cÄ±yÄ± eÄŸitin
model.fit(X, y)

# Yeni bir veri noktasÄ± iÃ§in tahmin yapÄ±n
yeni_veri = my_list2
tahmin = model.predict(yeni_veri)

print(tahmin)
print(len(tahmin))

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1]
418

In [60]:
x = df_titanic_test[["PassengerId"]]
x.loc[:,"Survived"] = tahmin
x

C:\Users\monstr\AppData\Local\Temp\ipykernel_4724\3917380894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = tahmin

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [61]:
sum(x.Survived)

163

In [2]:
# 1. Version:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv("SOURCES/titanic_train.csv")
df_1 = df.copy()
df_1.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Survived"], axis=1, inplace=True)
df_1.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_1.head()

df_1.fillna(df_1.Age.mean(), inplace=True) 

df_1.info()

survived_list = list(df.Survived)
# survived_list
my_list = []
for i in range(len(df_1)):
    my_list.append(list(df_1.loc[i]))
# my_list

df_ = pd.read_csv("SOURCES/titanic_test.csv")
df_2 = df_.copy()
df_2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked"], axis=1, inplace=True)
df_2.Sex.replace({"male": 0, "female": 1}, inplace=True)
print("\n", df_2.head())

df_2.fillna(df_2.Age.mean(), inplace=True) 

print("\n", df_2.info())
print("\n", df_2.head())

my_list2 = []
for i in range(len(df_2)):
    my_list2.append(list(df_2.loc[i]))

knn = KNeighborsClassifier(n_neighbors=3)

# Modelin eÄŸitilmesi
knn.fit(my_list, survived_list)

# Yeni veri noktasÄ±
X_new = my_list2

# Yeni veri noktasÄ±nÄ±n sÄ±nÄ±fÄ±nÄ±n tahmin edilmesi
y_pred = knn.predict(X_new)

x = df_[["PassengerId"]]
x.loc[:,"Survived"] = y_pred
print("\n", x)

print("\nhayatta kalan kiÅŸi sayÄ±sÄ±:", sum(x.Survived))

# x.to_csv("submission3.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
 5   Fare    891 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 41.9 KB

    Pclass  Sex   Age  SibSp  Parch     Fare
0       3    0  34.5      0      0   7.8292
1       3    1  47.0      1      0   7.0000
2       2    0  62.0      0      0   9.6875
3       3    0  27.0      0      0   8.6625
4       3    1  22.0      1      1  12.2875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    418 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

 None

    Pclass  Sex   Age  SibSp  Parch     Fare
0       3    0  34.5      0      0   7.8292
1       3    1  47.0      1      0   7.0000
2       2    0  62.0      0      0   9.6875
3       3    0  27.0      0      0   8.6625
4       3    1  22.0      1      1  12.2875

      PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

hayatta kalan kiÅŸi sayÄ±sÄ±: 158

C:\Users\monstr\AppData\Local\Temp\ipykernel_18256\3562364212.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = y_pred

In [4]:
# 2. Version:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv("SOURCES/titanic_train.csv")
df_1 = df.copy()
df_1.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Survived", "Fare"], axis=1, inplace=True)
df_1.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_1.head()

df_1.fillna(df_1.Age.mean(), inplace=True) 

df_1.info()

survived_list = list(df.Survived)
# survived_list
my_list = []
for i in range(len(df_1)):
    my_list.append(list(df_1.loc[i]))
# my_list

df_ = pd.read_csv("SOURCES/titanic_test.csv")
df_2 = df_.copy()
df_2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Fare"], axis=1, inplace=True)
df_2.Sex.replace({"male": 0, "female": 1}, inplace=True)
print("\n", df_2.head())

df_2.fillna(df_2.Age.mean(), inplace=True) 

print("\n", df_2.info())
print("\n", df_2.head())

my_list2 = []
for i in range(len(df_2)):
    my_list2.append(list(df_2.loc[i]))

knn = KNeighborsClassifier(n_neighbors=3)

# Modelin eÄŸitilmesi
knn.fit(my_list, survived_list)

# Yeni veri noktasÄ±
X_new = my_list2

# Yeni veri noktasÄ±nÄ±n sÄ±nÄ±fÄ±nÄ±n tahmin edilmesi
y_pred = knn.predict(X_new)

x = df_[["PassengerId"]]
x.loc[:,"Survived"] = y_pred
print("\n", x)

print("\nhayatta kalan kiÅŸi sayÄ±sÄ±:", sum(x.Survived))

# x.to_csv("submission5.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 34.9 KB

    Pclass  Sex   Age  SibSp  Parch
0       3    0  34.5      0      0
1       3    1  47.0      1      0
2       2    0  62.0      0      0
3       3    0  27.0      0      0
4       3    1  22.0      1      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 16.5 KB

 None

    Pclass  Sex   Age  SibSp  Parch
0       3    0  34.5      0      0
1       3    1  47.0      1      0
2       2    0  62.0      0      0
3       3    0  27.0      0      0
4       3    1  22.0      1      1

      PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

hayatta kalan kiÅŸi sayÄ±sÄ±: 137

C:\Users\monstr\AppData\Local\Temp\ipykernel_18256\3150102974.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = y_pred

In [6]:
# 2. Version:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv("SOURCES/titanic_train.csv")
df_1 = df.copy()
df_1.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Survived", "Fare", "Parch"], axis=1, inplace=True)
df_1.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_1.head()

df_1.fillna(df_1.Age.mean(), inplace=True) 

df_1.info()

survived_list = list(df.Survived)
# survived_list
my_list = []
for i in range(len(df_1)):
    my_list.append(list(df_1.loc[i]))
# my_list

df_ = pd.read_csv("SOURCES/titanic_test.csv")
df_2 = df_.copy()
df_2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Fare", "Parch"], axis=1, inplace=True)
df_2.Sex.replace({"male": 0, "female": 1}, inplace=True)
print("\n", df_2.head())

df_2.fillna(df_2.Age.mean(), inplace=True) 

print("\n", df_2.info())
print("\n", df_2.head())

my_list2 = []
for i in range(len(df_2)):
    my_list2.append(list(df_2.loc[i]))

knn = KNeighborsClassifier(n_neighbors=3)

# Modelin eÄŸitilmesi
knn.fit(my_list, survived_list)

# Yeni veri noktasÄ±
X_new = my_list2

# Yeni veri noktasÄ±nÄ±n sÄ±nÄ±fÄ±nÄ±n tahmin edilmesi
y_pred = knn.predict(X_new)

x = df_[["PassengerId"]]
x.loc[:,"Survived"] = y_pred
print("\n", x)

print("\nhayatta kalan kiÅŸi sayÄ±sÄ±:", sum(x.Survived))

# x.to_csv("submission6.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

    Pclass  Sex   Age  SibSp
0       3    0  34.5      0
1       3    1  47.0      1
2       2    0  62.0      0
3       3    0  27.0      0
4       3    1  22.0      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 13.2 KB

 None

    Pclass  Sex   Age  SibSp
0       3    0  34.5      0
1       3    1  47.0      1
2       2    0  62.0      0
3       3    0  27.0      0
4       3    1  22.0      1

      PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

hayatta kalan kiÅŸi sayÄ±sÄ±: 148

C:\Users\monstr\AppData\Local\Temp\ipykernel_18256\2729707147.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = y_pred

In [8]:
# 2. Version:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv("SOURCES/titanic_train.csv")
df_1 = df.copy()
df_1.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Survived", "Fare", "SibSp"], axis=1, inplace=True)
df_1.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_1.head()

df_1.fillna(df_1.Age.mean(), inplace=True) 

df_1.info()

survived_list = list(df.Survived)
# survived_list
my_list = []
for i in range(len(df_1)):
    my_list.append(list(df_1.loc[i]))
# my_list

df_ = pd.read_csv("SOURCES/titanic_test.csv")
df_2 = df_.copy()
df_2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Embarked", "Fare", "SibSp"], axis=1, inplace=True)
df_2.Sex.replace({"male": 0, "female": 1}, inplace=True)
print("\n", df_2.head())

df_2.fillna(df_2.Age.mean(), inplace=True) 

print("\n", df_2.info())
print("\n", df_2.head())

my_list2 = []
for i in range(len(df_2)):
    my_list2.append(list(df_2.loc[i]))

knn = KNeighborsClassifier(n_neighbors=3)

# Modelin eÄŸitilmesi
knn.fit(my_list, survived_list)

# Yeni veri noktasÄ±
X_new = my_list2

# Yeni veri noktasÄ±nÄ±n sÄ±nÄ±fÄ±nÄ±n tahmin edilmesi
y_pred = knn.predict(X_new)

x = df_[["PassengerId"]]
x.loc[:,"Survived"] = y_pred
print("\n", x)

print("\nhayatta kalan kiÅŸi sayÄ±sÄ±:", sum(x.Survived))

# x.to_csv("submission7.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   Parch   891 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

    Pclass  Sex   Age  Parch
0       3    0  34.5      0
1       3    1  47.0      0
2       2    0  62.0      0
3       3    0  27.0      0
4       3    1  22.0      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   Parch   418 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 13.2 KB

 None

    Pclass  Sex   Age  Parch
0       3    0  34.5      0
1       3    1  47.0      0
2       2    0  62.0      0
3       3    0  27.0      0
4       3    1  22.0      1

      PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

hayatta kalan kiÅŸi sayÄ±sÄ±: 123

C:\Users\monstr\AppData\Local\Temp\ipykernel_18256\3330130873.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = y_pred

In [10]:
# 2. Version:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

df = pd.read_csv("SOURCES/titanic_train.csv")
df_1 = df.copy()
df_1.drop(["Ticket", "Cabin", "Name", "PassengerId", "Survived", "Fare", "SibSp"], axis=1, inplace=True)
df_1.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_1.Embarked.replace({"S": 0, "Q": 1, "C": 2}, inplace=True)

df_1.head()

df_1.fillna(df_1.Age.mean(), inplace=True) 

df_1.info()

survived_list = list(df.Survived)
# survived_list
my_list = []
for i in range(len(df_1)):
    my_list.append(list(df_1.loc[i]))
# my_list

df_ = pd.read_csv("SOURCES/titanic_test.csv")
df_2 = df_.copy()
df_2.drop(["Ticket", "Cabin", "Name", "PassengerId", "Fare", "SibSp"], axis=1, inplace=True)
df_2.Sex.replace({"male": 0, "female": 1}, inplace=True)
df_2.Embarked.replace({"S": 0, "Q": 1, "C": 2}, inplace=True)

print("\n", df_2.head())

df_2.fillna(df_2.Age.mean(), inplace=True) 

print("\n", df_2.info())
print("\n", df_2.head())

my_list2 = []
for i in range(len(df_2)):
    my_list2.append(list(df_2.loc[i]))

knn = KNeighborsClassifier(n_neighbors=3)

# Modelin eÄŸitilmesi
knn.fit(my_list, survived_list)

# Yeni veri noktasÄ±
X_new = my_list2

# Yeni veri noktasÄ±nÄ±n sÄ±nÄ±fÄ±nÄ±n tahmin edilmesi
y_pred = knn.predict(X_new)

x = df_[["PassengerId"]]
x.loc[:,"Survived"] = y_pred
print("\n", x)

print("\nhayatta kalan kiÅŸi sayÄ±sÄ±:", sum(x.Survived))

# x.to_csv("submission8.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   Parch     891 non-null    int64
 4   Embarked  891 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 34.9 KB

    Pclass  Sex   Age  Parch  Embarked
0       3    0  34.5      0         1
1       3    1  47.0      0         0
2       2    0  62.0      0         1
3       3    0  27.0      0         0
4       3    1  22.0      1         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   Parch     418 non-null    int64
 4   Embarked  418 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 16.5 KB

 None

    Pclass  Sex   Age  Parch  Embarked
0       3    0  34.5      0         1
1       3    1  47.0      0         0
2       2    0  62.0      0         1
3       3    0  27.0      0         0
4       3    1  22.0      1         0

      PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

hayatta kalan kiÅŸi sayÄ±sÄ±: 150

C:\Users\monstr\AppData\Local\Temp\ipykernel_18256\304511353.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,"Survived"] = y_pred

# submission8.csv is the best